


$header-height: 10%;
$full: 100%;


$aside-space: 6;
$aside-space-md: 4.5;



$float-right: right;
$float-left: left;





$main-color: #fff;
$text-color: #b4b4b4;
$title-color: #423f3f;
$label-color: #303030;
$open-btn-color:#eeeeee;
$close-btn-color: #dc412e;